npm-debug.log
node_modules
.idea
.DS_Store
.git
.gitignore
.npmignore

directive/src
directive/tsconfig.json
npm-script/src
npm-script/tsconfig.json
resources/
.editorconfig

# Output of 'npm pack'
*.tgz
