<ion-tabs class="tabs-icon-text">
    <ion-tab customIconSet="ei" customIconName="heart" tabTitle="Love" [root]="tabOne"></ion-tab>
    <ion-tab customIconSet="fi" customIconName="book" tabTitle="Read" [root]="tabTwo"></ion-tab>
    <ion-tab customIconSet="ei" customIconName="play" tabTitle="Play" [root]="tabThree"></ion-tab>
    <ion-tab customIconSet="fi" customIconName="foot" tabTitle="Walk" [root]="tabFour"></ion-tab>

    <!--
    Example: Ionic default
    <ion-tab tabIcon="leaf" tabTitle="Life" [root]="tabTwo"></ion-tab>
    -->
</ion-tabs>
